@import "src/mixins.scss";
.content {
    max-width: 420px;
    margin: 48px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 560px){
        min-width: 256px;
        max-width: 416px;
        margin: 16px 24px;
    }
    .title {

    }
    .text {
        margin-top: 32px;
        text-align: center;
        @include body-large;
    }
}
